.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-weight: 600;
}

.table a {
    color: #2196F3;
}

.table thead th {
    height: 50px;
    font-weight: 600;
    border-top: 1px solid #BBBBBB;
}

.table tbody td {
    height: 50px;
    font-weight: 400;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}

.table thead p {
    width: 225px;
    margin: auto;
}

.blankLine {
    width: 100%;
    height: 50px;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
}

.table tbody p {
    margin: auto;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.greenText {
    color: #396658;
    background-color: #59C6A5;
}

.blueText {
    color: #0079C2;
    background-color: #B3DAFA;
}

.redText {
    color: #FD1E00;
    background-color: #FF9D8F;
}

.yellowText {
    color: #F5F527;
    background-color: #F2DFA3;
}

.arrowContainer {
    display: flex;
    gap: 50px;
}

.arrowRight {
    cursor: pointer;
    width: 20px;
}

.arrowLeft {
    cursor: pointer;
    width: 20px;
    rotate: 180deg;
}

.header {
    display: flex;
    margin: 10px 0;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
    color: #6B7280;
}